---
title: Scheduling and Planning Applications woRKshop (SPARK)
layout: page
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Dates </h3>
        </header>
        <ul class="check-list">
          <li><strong>March 17, 2017</strong> - Submissions Due</li>
          <li><strong>April 20, 2017</strong> - Notification</li>
          <li><strong>TBD, 2017</strong> - Camera-ready Due</li>
          <li><strong>June 19-20, 2017</strong> - Workshop Date</li>
        </ul> 
      </section>
      <section>
        <header>
          <h3 class="top">Workshops</h3>
        </header>
        <ul class="link-list">
        {% for workshop in site.data.workshops %}
          <li>
          {% if workshop.ready %} 
            <a href="{{ workshop.nick }}">{{ workshop.nick }}</a>
          {% else %}
            {{ workshop.nick }}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </section>
    </div>
  <div class="9u 12u(mobile)">
    <section>
      <header>
        <h1 class="top">SPARK</h1>
        <h2>Scheduling and Planning Applications woRKshop</h2>
        
        <p>
        An ICAPS'17 Workshop<br/>
        Pittsburgh, USA<br/>
        19-20 June 2017
        </p>
      </header>
<p>
Application domains that contain planning and scheduling (P&amp;S) problems present a set of interesting challenges to the AI planning and scheduling community - from modeling to technical to institutional issues.  New real-world domains and problems are becoming increasingly affordable for AI.  The international Scheduling and Planning Applications woRKshop (SPARK) series was established to foster the practical application of advances made in the AI P&amp;S community.
</p>

<h3>Workshop Aim</h3>

<p>
The workshop aims to provide a stable forum on relevant topics connected to application-focused research and the deployment of P&amp;S systems.  The immediate legacy began in 2007 with the ICAPS'07 Workshop on Moving Planning and Scheduling Systems into the Real World, and continued in 2008-2016 with successful yearly editions.
</p>

<p>
The websites of the previous editions of the workshop series are available at <a href="http://decsai.ugr.es/~lcv/SPARK/">http://decsai.ugr.es/~lcv/SPARK/</a>.  These workshops presented a stimulating environment where researchers could discuss the opportunity and challenges in moving P&amp;S developments into practice, and analyze domains and problem instances under study for, or closely inspired by, real industrial/commercial deployment of P&amp;S techniques.
</p>

<p>
This is the 10th edition of SPARK. The previous editions saw substantial attendance with respect to other collocated events (about 30+ people every year since 2007).  This success, together with the recent creation of the Novel Applications track at ICAPS make SPARK:
</p>

<ul>
   <li>The ideal incubator to test, discuss, mature and improve potential papers for that main track with the feedback of an excellent audience</li>
   <li>A great place for the inception of new applications and challenges</li>
</ul>
<p>
The challenges and discussions that emerged in the last years' editions set the baseline for this year's SPARK workshop.  A goal of the workshop series is the definition of a longer term set of challenges that could be of benefit for the research community as well as practitioners.
</p>

<p>
Authors of accepted papers will be encouraged to share their domains and instances, or parts of them, towards a library of practical benchmarking problems that could also be useful for the community.
</p>

<h3>Format</h3>

<p>
The workshop will retain the successful format of previous SPARK editions. Each session will have presentation from the accepted papers and invited speakers. 
</p>

<h3>Topics</h3>

<p>
Starting from the results of the previous editions, SPARK'17 will deepen the debate on application-relevant aspects of P&amp;S theory and practice, with the aim of reporting and discussing experiences relating to deploying P&amp;S systems.
</p>

<p>
Topics of the workshop include, but are not limited to:
</p>
<ul>
    <li> Novel domains and benchmark or challenge problems</li>
    <li> Experiences in deploying P&amp;S systems, from their conception to their maturity in practice</li>
    <li> Comparison with previously existing technologies and/or systems</li>
    <li> Integration of operational knowledge from existing legacy components</li>
    <li> Integration of multiple sources of knowledge and reasoning schemes (actions, time, resources)</li>
    <li> Modelling and domain model acquisition</li>
    <li> Handling dynamic and uncertain sources of knowledge</li>
    <li> Algorithmic and technological issues</li>
    <li> Plan execution and replanning</li>
    <li> Mixed initiative approaches</li>
    <li> User interface design, visualization and explanation</li>
    <li> Machine learning methodologies applied to P&amp;S systems</li>
    <li> Engineering, deployment, and maintenance</li>
    <li> Evaluation, testing, and validation</li>
    <li> Assessment of impact on end users</li>
</ul>

<h3>Submission Information</h3>

<p>
Submissions may be regular papers (up to 8 pages plus references) or short position papers (up to 2 pages, including references).  All papers should conform to the AAAI formatting guidelines and style. Submissions will be reviewed by at least three referees.  The top 2 papers based on the reviews will be selected for a fast-track submission to the next ICAPS conference. Please note that the submissions to SPARK 2017 must be anonymous in order to be considered for the fast-track submission. 
</p>


<p>Submissions, in PDF format, maust be submitted via the EasyChair site:
<a href="https://easychair.org/conferences/?conf=spark2017">https://easychair.org/conferences/?conf=spark2017</a>
</p>



<h3>Important Dates</h3>

<p>
Submission deadline for papers:	March 17, 2017<br/>
Notification of acceptance/rejection:	April 20, 2017<br/>
Camera-ready version due:		TBD, 2017<br/>
Workshop Date:				19-20 June 2017<br/>
</p>

<h3>Organization</h3>
  <ul>
  
    <li> Sara Bernardini, Royal Holloway University of London, UK</li>
    <li> Shirin Sohrabi, IBM T.J. Watson Research Center,  USA</li>
    <li> Simon Parkinson, University of Huddersfield, UK</li>
    <li> Kartik Talamadupula, IBM T.J. Watson Research Center,  USA</li>
  </ul>

    </section>
  </div>
</div>

