<footer id="footer" class="container">
  <div class="row">
    <div class="8u 12u(mobile)">
      <ul id="sponsor-list">
	SPONSORS:
        <li><a href="http://www.adventiumlabs.com/"><img src="/images/sponsor-logos/AdventiumLabs.jpg" class="sponsor-img" alt="Adventium Labs" style="width:130px"></a></li>
        <li><a href="http://www.sift.net/"><img src="/images/sponsor-logos/Sift.png" class="sponsor-img" alt="SIFT" style="width:180px"></a></li>
        <li><a href="http://www.ibm.com/"><img src="/images/sponsor-logos/IBM.png" class="sponsor-img" alt="IBM" style="width:150px"></a></li>
        <li><a href="https://ti.arc.nasa.gov/profile/de2smith/"><img src="/images/sponsor-logos/smith.gif" class="sponsor-img profile-image" alt="David Smith" style="width:80px"></a></li>
        <li><a href="http://www.nsf.gov/"><img src="/images/sponsor-logos/NSF.jpg" class="sponsor-img" alt="National Science Foundation" style="width:100px"></a></li>
        <li><a href="http://www.wpafb.af.mil/afrl/afosr/"><img src="/images/sponsor-logos/AFOSR.gif" class="sponsor-img" alt="Air Force Office of Scientific Research" style="width:140px"></a></li>
        <li><a href="https://ohmnilabs.com/"><img src="/images/sponsor-logos/ohmni.png" class="sponsor-img" alt="Ohmnilabs" style="width:100px"></a></li>
        <li><a href="http://www.cmu.edu/"><img src="images/sponsor-logos/cmu.png" class="sponsor-img" alt="Carnegie Mellon University" style="width:240px"></a></li>

	<!--
        <li><a href="https://www.eurai.org/"><img src="images/sponsor-logos/eurai.png" class="sponsor-img" alt="European Association for Artifical Intelligence" style="width:100px"></a></li>
        <li><a href="http://www.journals.elsevier.com/artificial-intelligence/"><img src="images/sponsor-logos/aij.gif" class="sponsor-img" alt="Artificial Intelligence Journal" style="width:70px"></a></li>
        <li><a href="http://www.unimelb.edu.au/"><img src="images/sponsor-logos/unimelb.png" class="sponsor-img" alt="University of Melbourne" style="width:180px"></a></li>
        <li><a href="http://computational-sustainability.cis.cornell.edu/"><img src="images/sponsor-logos/ics.png" class="sponsor-img" alt="Institute for Computational Sustainability" style="width:120px"></a></li>
	-->
        <ul>
    </div>
    <div class="4u 12u(mobile)">
      <section>
        <p>
          <a href="http://www.icaps-conference.org/">ICAPS</a> is the premier 
          forum for exchanging news and research results on theory and applications of intelligent planning and scheduling technology.
        </p>
        <ul class="social-list">
	  <!--
          <li><a href="https://www.facebook.com/icapsconference"><img src="images/SVGfacebook.svg" alt="Facebook logo" /></a></li>
          <li><a href="https://twitter.com/icapsconference"><img src="images/SVGtwitter.svg" alt="Twitter logo" /></a></li>
          <li><a href="https://plus.google.com/+ICAPSConference/about"><img src="images/SVGgoogle.svg" alt="Google Plus Logo" /></a></li>
	  -->
        </ul>
      </section>
    </div>
  </div>
</footer>
<div id="copyright">
  &copy; 2017 ICAPS 
</div>
