  <header id="header" class="container">
    <div class="row">
      <div class="4u 12u(mobile)">
        <a href="/" id="logo"><img id="icaps-logo" src="/images/icaps17-logo.jpg" alt="ICAPS 2017 - Pittsburgh" /></a>
      </div>
      <div class="8u 12u(mobile)">
	<nav id="nav">
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/cfp">Calls</a>
		  <ul>
		    <li><a class="sub-menu-" href="robotics-track">Robotics Track</a></li>
		    <li><a class="sub-menu-" href="novel-track">Novel Track</a></li>
		    <li><a class="sub-menu-" href="/robotics-track">Robotics</a></li>
		    <li><a class="sub-menu-" href="/learning-track">Planning and Learning</a></li>
		    <li><a class="sub-menu-" href="/journal-track">Journal</a></li>
		    <li><a class="sub-menu-" href="/doctoral-consortium">Doctoral Consortium (DC)</a></li>
		    <li><a class="sub-menu-" href="/demos">System Demonstrations</a></li>
		  </ul>
	    </li> 
		<li><a href="#">Program</a>
		  <ul>
		    <li><a class="sub-menu-" href="papers">Papers</a></li>
     <!--
		    <li><a class="sub-menu-" href="schedule.html">Schedule</a></li>
		    <li><a class="sub-menu-" href="journal-track.html">Journal Track</a></li>
		    <li><a class="sub-menu-" href="awards.html">Awards</a></li>
		    <li><a class="sub-menu-" href="demos.html">Demos</a></li>
		    <li><a class="sub-menu-" href="cfp.html">Submission</a></li>
		    <li><a class="sub-menu-" href="contests.html">Contests</a></li>
		-->
		  </ul>
		</li>
	    <li><a href="/awards-cfp">Awards</a>
	    </li>
	    <!--
		<li><a href="#">Students</a>
		  <ul>
		    <li><a class="sub-menu-" href="summer-school.html">Summer School</a></li>
		    <li><a class="sub-menu-" href="dc.html">Doctoral Consortium</a></li>
		  </ul>
		</li>
		-->
	    <li> <a href="/workshops/">Workshops</a>
        <ul>
        {% for workshop in site.data.workshops %}
          {% if workshop.ready %}
          <li>
            {% if workshop.url %}
            <a class="sub-menu-" href="{{ workshop.url }}">{{ workshop.nick }}</a>
            {% else %}
            <a class="sub-menu-" href="/workshops/{{ workshop.nick }}/">{{ workshop.nick }}</a>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
	    </li>
		<li><a href="/tutorials">Tutorials</a>
		</li>

		<li><a href="#">Attending</a>
		  <ul>
		    <!--
        <li><a class="sub-menu-" href="map.html">Map</a></li>
		    <li><a class="sub-menu-" href="directions.html">Getting Here</a></li>
        -->
		    <li><a class="sub-menu-" href="https://starrez.housing.cmu.edu/StarRezPortalConference/go/Conferences/ICAPS2017">Registration</a></li>
		    <li><a class="sub-menu-" href="/accommodation">Accommodation</a></li>
		  </ul>
		</li>
	    <li><a href="/committee">Committees</a></li>
	  </ul>
	</nav>
      </div>
    </div>
  </header>
