<section>
  <header>
    <h3 class="top">Tracks</h3>
  </header>
  <ul>
    <li><a href="/cfp">Main Track</a></li>
    <li><a href="/novel-track">Novel Applications</a></li>
    <li><a href="/robotics-track">Robotics</a></li>
    <li><a href="/learning-track">Planning and Learning</a></li>
    <li><a href="/journal-track">Journal</a></li>
    <li><a href="/workshops/">Workshops</a></li>
    <li><a href="/doctoral-consortium">Doctoral Consortium</a></li>
    <li><a href="/demos">System Demonstrations</a></li>
  </ul> 
</section>

