<div id="schedule">
{% assign started = false %}
{% for row in site.data[include.content] %}
  {% if row.type == "day" %}
    {% if started %}</table>{% endif %}
    {% assign started = true %}
    <h3>{{row.time}}</h3>
    <table class="schedule">
  {% elsif row.type != nil %}
    {% if row.name contains "Break" %}
      <tr><td class="time">{{row.time}}</td><td class="break">{{row.name}}</td></tr>
    {% else %}
      <tr><td class="time">{{row.time}}</td><td class="lunch">{{row.name}}</td></tr>
    {% endif %}
  {% elsif row.time == nil %}
  <tr><td class="notime"></td><td class="session-talk"><span class="paper-title">{{row.name}}</span><br/><span class="paper-author">{{row.authors}}</span></td></tr>
  {% else %}
  <tr><td class="time">{{row.time}}</td><td class="session-talk"><span class="paper-title">{{row.name}}</span><br/><span class="paper-author">{{row.authors}}</span></td></tr>
  {% endif %}
{% endfor %}
    </table>
</div>
