---
title: >
    COPLAS’17: ICAPS 2017 Workshop on Constraint Satisfaction 
    Techniques for Planning and Scheduling Problems
layout: page
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Dates </h3>
        </header>
        <ul class="check-list">
          <li><strong>March 17, 2017</strong> - Submissions Due</li>
          <li><strong>April 20, 2017</strong> - Notification</li>
          <li><strong>May 10, 2017</strong> - Camera-ready Due</li>
          <li><strong>June 20, 2017</strong> - Workshop Date</li>
        </ul> 
      </section>
      {% include workshops.html %}
    </div>
  <div class="9u 12u(mobile)">
    <section>
      <header>
        <h1 class="top">COPLAS</h1>
        <h2>Workshop on Constraint Satisfaction Techniques for Planning and
        
        Scheduling Problems</h2>
        
        <p>
        An ICAPS'17 Workshop<br/>
        Pittsburgh, USA<br/>
        19-20 June 2017
        </p>
      </header>
<p>
The workshop aims at providing a forum to discuss novel issues on planning, scheduling, and
constraint satisfaction problems. Solutions to many real-world problems need to integrate plan
synthesis capabilities with time and resource allocation, which can be efficiently managed by
constraint satisfaction and OR techniques. Formulations of P&amp;S problems as CSPs, resource and
temporal global constraints, and inference techniques are of particular interest of COPLAS.
</p>

<h3>Objectives and Topics</h3>

<p>
The areas of AI planning and scheduling have seen important advances thanks to the application
of constraint satisfaction models and techniques. Especially solutions to many real-world
problems need to integrate plan synthesis capabilities with resource allocation, which can be
efficiently managed by using constraint satisfaction techniques. The workshop will aim at
providing a forum for researchers in the field of Artificial Intelligence to discuss novel issues on
planning, scheduling, constraint programming/constraint satisfaction problems (CSPs) and
many other common areas that exist among them. On the whole, the workshop will mainly focus
on managing complex problems where planning, scheduling and constraint satisfaction must be
combined and/or interrelated, which entails an enormous potential for practical applications
and future research. COPLAS is ranked as CORE B in ERA Conference Ranking and it is covered
in selected Elsevier database products.
</p>

<p>
We invite submissions on any topic relevant to the workshop, particularly those that combine
techniques from both perspectives, planning &amp; scheduling, and constraint programming. This
includes but is not limited to:
</p>
<ul>
  <li>Planning:
    <ul>
      <li>Constraint management</li>
      <li>Temporal planning</li>
      <li>Multi-criteria planning</li>
      <li>Planning with resources</li>
      <li>Reformulations to CSP</li>
    </ul></li>

  <li>Scheduling
    <ul>
      <li>Innovative models</li>
      <li>Robust solutions</li>
      <li>Energy efficient scheduling</li>
      <li>Manufacturing</li>
      <li>Green scheduling</li>
    </ul></li>
  <li>Integration of planning and scheduling</li>
  <li>Temporal CSPs</li>
  <li>SAT and ASP based techniques</li>
  <li>Heuristic and Metaheuristic techniques</li>
  <li>Hybrid CP and OR techniques for P&amp;S</li>
  <li>Real life applications</li>
</ul>


<p>
We are pleased to accept papers based on recent publications from other (non ICAPS) venues
such as specialized conferences (CP, CP-AI-OR, AAMAS, ...), or general AI conferences (AAAI,
IJCAI, ECAI, ...). This must be however clearly indicated in the submitted paper. Submission of
papers that are under review in another forum is allowed and encouraged for wider
dissemination as COPLAS will have informal proceedings only (but double check the submission
conditions of the other conference).
Original papers will be considered to be nominated for the “Fast-tracking of strong workshop
papers” to be presented in the main track of ICAPS 2018.
</p>

<h3>Submissions</h3>

<p>
Papers must be prepared according to the instructions for ICAPS-17 (in <a href="http://www.aaai.org/Publications/Author/author.php">AAAI format</a>) and must be no more than ten (10)
pages long, including figures and bibliography. Submitted PDF papers should be anonymous for
double-blind reviewing and should be sent via the <a href="https://easychair.org/conferences/?conf=coplas17">EasyChair conference system</a>. Every submitted paper will
be reviewed by at least two members of the Program Committee. Late submissions must be
consulted with the workshop organizers prior the submission deadline.
Accepted papers will be included in the workshop notes.
</p>

<p><em>Selected papers will be published in international journals (to be confirmed).</em></p>

<h3>Important Dates</h3>

<p>
Submission deadline for papers:	March 17, 2017<br/>
Notification of acceptance/rejection:	April 20, 2017<br/>
Camera-ready version due:		May 10, 2017<br/>
Workshop Date:				19-20 June 2017<br/>
</p>

  <h3>Schedule</h3>
  {% include workshop-schedule.html content="coplos-plan" %}



<h3>Accepted Papers</h3>
<ul>
    <li> Eliseo Marzal, Mohannad Babli, Eva Onaindia and Laura Sebastia. Handling PDDL3.0 State Trajectory Constraints with Temporal Landmarks. </li>
    <li> Malcolm Mcneely, Julia Porteous, Joao Ferreira and Alan Lindsay. Towards a Constraints Approach to Generating Personalised Horror Film Variants. </li>
    <li> Jesús Ibáñez Ruiz, Laura Sebastia and Eva Onaindia. Evaluating the quality of tourist agendas customized to different travel styles. </li>
    <li> Giancarlo Nicolo, Miguel A. Salido, Sergio Ferrer, Adriana Giret and Federico Barber. A Multi-Agent Approach using dynamic constraints to solve energy-aware unrelated parallel machine scheduling problem with energy-dependent and sequence-dependent setup time. </li>
    <li> Daniel Morillo, Federico Barber and Miguel A. Salido. Mode List vs Activity List for the Multi-mode Resource Constrained Project Scheduling Problem.</li>
</ul>
        
<h3>Workshop Program Chairs</h3>
  <ul>
  <li><a href="mailto:msalido@dsic.upv.es">Miguel A. Salido</a>, Universitat Politècnica de Valencia, Spain</li>
  <li><a href="mailto:bartak@ktiml.mff.cuni.cz">Roman Barták</a>, Charles University, Czech Republic</li>
  </ul>

<h3>Tentative Program committee</h3>
<ul>
<li> Federico Barber (Universidad Politecnica de Valencia, Spain)</li>
<li> Roman Barták (Charles University, The Czech Republic)</li>
<li> Amedeo Cesta (ISTC-CNR, Italy)</li>
<li> Steve A. Chien (NASA Ames Research Center, USA)</li>
<li> Minh Binh Do (NASA Ames Research Center, USA)</li>
<li> Agostino Dovier (Universita Degli Studi di Udine, Italy)</li>
<li> Jeremy Frank (NASA Ames Research Center, USA)</li>
<li> Enrico Giunchiglia (Universita di Genova, Italy)</li>
<li> Christophe Guettier, SAGEM, France</li>
<li> Weidong Li (Coventry University, UK)</li>
<li> Christophe Guettier, SAGEM, France</li>
<li> Eva Onaindia, Universidad Politecnica de Valencia, Spain</li>
<li> Nicola Policella (European Space Agency, Germany)</li>
<li> Enrico Pontelli (New Mexico State University, USA)</li>
<li> Massimo Paolucci (University of Genova, Italy)</li>
<li> Hana Rudová (Masaryk University, The Czech Republic)</li>
<li> Miguel A. Salido (Universidad Politecnica Valencia, Spain)</li>
<li> Torsten Schaub (Technical University of Darmstadt, Germany)</li>
<li> Stephen F. Smith (Carnegie Mellon University, USA)</li>
<li> Dunbing Tang (Nanjing University of Aeronautics&amp;Astronomics, China)</li>
<li> Ramiro Varela (Universidad de Oviedo, Spain)</li>
<li> Petr Vilím (ILOG, France)</li>
<li> Neil Yorke-Smith (American University of Beirut/SRI International, USA)</li>
</ul>
    </section>
  </div>
</div>

