---
title: Heuristics and Search for Domain-independent Planning (HSDIP)
layout: page
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Dates </h3>
        </header>
        <ul class="check-list">
          <li><strong>March 17, 2017</strong> - Submissions Due</li>
          <li><strong>April 7, 2017</strong> - Notification</li>
          <li><strong>TBD</strong> - Camera-ready Due</li>
          <li><strong>June 20, 2017</strong> - Workshop Date</li>
        </ul>
      </section>
      {% include workshops.html %}
    </div>
  <div class="9u 12u(mobile)">
    <section>
      <header>
        <h1 class="top">Heuristics and Search for Domain-independent Planning (HSDIP)</h1>

        <p>
        An ICAPS'17 Workshop<br/>
        Pittsburgh, USA<br/>
        20 June 2017
        </p>
      </header>
 <p>Heuristics and search algorithms are the two key components of heuristic search, one of the
                      main approaches to many variations of domain-independent planning,
                      including classical planning, temporal planning, planning under
                      uncertainty and adversarial planning. This workshop seeks to
                      understand the underlying principles of current heuristics and search
                      methods, their limitations, ways for overcoming those limitations, as
                      well as the synergy between heuristics and search. HSDIP-17 will be a
                      part of the <a href="http://icaps17.icaps-conference.org/" target="_blank">ICAPS
                        2017</a> conference.</p>

                                        <p>For questions please contact the <a href="hsdip17@googlegroups.com" target="_blank">HSDIP Chairs</a></p>

                                        <h3>Topics and Objectives</h3>

                                        <p>State-space search guided by heuristics, automatically derived from
                                        the problem representation, has been one of the most popular, and
                                        arguably one of the most successful, approaches to domain-independent
                                        planning in the last decade. While there has been significant
                                        developments in the design of planning heuristics, such that there are
                                        now many different kinds of heuristics, and some theories of how they
                                        relate to each other have begun to emerge, there is also a growing
                                        realization that the search algorithm plays an equally important role
                                        in the approach. Recent work has highlighted some of the weaknesses in
                                        well-known search algorithms, but also opportunities to exploit
                                        synergies between the heuristic calculation and the search control to
                                        improve both, while relying on domain-independent, declarative descriptions
                                        of the state space.State-space search guided by heuristics, automatically derived from
                                        the problem representation, has been one of the most popular, and
                                        arguably one of the most successful, approaches to domain-independent
                                        planning in the last decade. While there has been significant
                                        developments in the design of planning heuristics, such that there are
                                        now many different kinds of heuristics, and some theories of how they
                                        relate to each other have begun to emerge, there is also a growing
                                        realization that the search algorithm plays an equally important role
                                        in the approach. Recent work has highlighted some of the weaknesses in
                                        well-known search algorithms, but also opportunities to exploit
                                        synergies between the heuristic calculation and the search control to
                                        improve both, while relying on domain-independent, declarative descriptions
                                        of the state space.</p>

                    <p>The workshop on Heuristics and Search for Domain-Independent Planning
                    (HSDIP) is the ninth workshop in a series that started with the
                    &quot;Heuristics for Domain-Independent Planning&quot; (HDIP) workshops at ICAPS
                    2007. At ICAPS 2012, the workshop was changed to its current name and
                    scope to explicitly encourage work on search for domain-independent
                    planning.
                    The workshop on Heuristics and Search for Domain-Independent Planning
                    (HSDIP) is the ninth workshop in a series that started with the
                    &quot;Heuristics for Domain-Independent Planning&quot; (HDIP) workshops at ICAPS
                    2007. At ICAPS 2012, the workshop was changed to its current name and
                    scope to explicitly encourage work on search for domain-independent
                    planning.</p>

                    <p> Examples of typical topics for submissions to this workshop are: </p>

                                        <ul>
                                            <li>Automatic derivation of heuristic estimators for domain-independent planning</li>
                                            <li>Search techniques for domain-independent planning</li>
                                            <li>Synergy between heuristics and search in domain-independent planning</li>
                                            <li>Challenging domains for heuristic search planning</li>

                                        </ul>


                                        <h3>Submissions</h3>

                                        <p>Please format submissions in AAAI style (see instructions in the Author
                      Kit at <a href="http://www.aaai.org/Publications/Templates/AuthorKit17.zip" target="_blank">http://www.aaai.org/<wbr>Publications/Templates/<wbr>AuthorKit17.zip</a>) and
                      keep them to at most 9 pages including references. Authors considering
                      submitting to the workshop papers rejected from the main conference,
                      please ensure you do your utmost to address the comments given by ICAPS
                      reviewers. Please do not submit papers that are already accepted for
                      the main conference to the workshop.</p>

                    <p>Submissions should be made through EasyChair:
                      <a href="http://www.easychair.org/conferences/?conf=hsdip2017" target="_blank">http://www.easychair.org/<wbr>conferences/?conf=hsdip2017</a>.</p>

                    <p>Every submission will be reviewed by two members of the organizing
                      committee according to the usual criteria such as relevance to the
                      workshop, significance of the contribution, and technical quality. The
                      review process will be single-blind: the authors&#39; identity will be
                      known to the reviewers, but not vice versa.
                    </p>

                    <p> Submissions sent to other conferences are allowed if this do not
                      interfere with their submission rules. Submissions under double-blind
                      review in another conference must be anonymous. In particular, <strong>submissions
                      of papers under revision in IJCAI17 must be anonymous</strong> </p>

                    <p>The workshop is meant to be an open and inclusive forum, and we
                      encourage papers that report on work in progress or that do not fit
                      the mold of a typical conference paper.</p>

                    <p>At least one author of each accepted paper must attend the workshop in
                      order to present the paper. Authors must register for the ICAPS main
                      conference in order to attend the workshop. There will be no separate
                      workshop-only registration.</p>

      <p>In order to encourage the submission of original papers to the
    workshops, the ICAPS council has announced an initiative to fast-track
    strong workshop papers from one year to the main track of the next
    ICAPS. Up to two papers will be recommended by the HSDIP
    organizers. The ICAPS 2018 program chairs will have a look at these
    papers and the workshop reviews and invite the authors of these papers
    to resubmit them to the ICAPS 2018 main track.
    </p>

        <h3>Important Dates</h3>

        <ul>
            <li><strong>Paper submission deadline:</strong> <em>March 17, 2017 (UTC-12 timezone)</em></li>
            <li>Notification of acceptance: <em>April 7, 2017</em></li>
            <li>Camera-ready paper submissions: <em>May 22, 2017</em></li>
            <li><strong>Workshop date:</strong> <em>June 20, 2017</em></li>
        </ul>


        <h3>Organizing Committee</h3>

        <ul>
            <li><em>J. Benton</em> NASA Ames Research Center &amp; AAMU-RISE, USA</li>
            <li><em>Nir Lipovetzky</em> University of Melbourne, Australia</li>
            <li><em>Florian Pommerening</em> University of Basel, Switzerland </li>
            <li><em>Miquel Ramırez</em> University of Melbourne, Australia </li>
             <li><em>Enrico Scala</em> ANU, Australia</li>
             <li><em>Jendrik Seipp</em> University of Basel, Switzerland</li>
            <li><em>Álvaro Torralba</em> Saarland University, Germany </li>
        </ul>

 <h3>Schedule</h3>
{% include workshop-schedule.html content="hsdip-plan" %}

 <h3>Proceedings</h3>
        Individual papers are available via the links below. The full
        <a href="proceedings/icaps2017wshsdip_proceedings.pdf">workshop proceedings</a>
        contain all papers in one PDF.

        <h3>Accepted Papers</h3>
Daniel Gnad, Valerie Poser and Joerg Hoffmann<br>
Beyond Forks: Finding and Ranking Star Factorings for Decoupled Search
<a href="proceedings/gnad-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Robert Mattmüller, Florian Geißer, Benedict Wright and Bernhard Nebel<br>
On the Relationship Between State-Dependent Action Costs and Conditional Effects in Planning
<a href="proceedings/mattmueller-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Sarah Keren, Luis Pineda, Avigdor Gal, Erez Karpas and Shlomo Zilberstein<br>
Equi-Reward Utility Maximizing Design in Stochastic Environments
<a href="proceedings/keren-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Robert Lieck, Vien Ngo and Marc Toussaint<br>
Exploiting Variance Information in Monte-Carlo Tree Search
<a href="proceedings/lieck-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Yuu Jinnai and Alex Fukunaga<br>
A Graph-Partitioning Based Approach for Parallel Best-First Search
<a href="proceedings/jinnai-fukunaga-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Shlomi Maliah, Ronen Brafman and Guy Shani<br>
Forward Search with Backward Analysis
<a href="proceedings/maliah-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Masataro Asai and Alex Fukunaga<br>
Tie-Breaking in A* as Satisficing Search
<a href="proceedings/asai-fukunaga-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Sean Dobson and Patrik Haslum<br>
Cost-Length Tradeoff Heuristics for Bounded-Cost Search
<a href="proceedings/dobson-haslum-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Silvan Sievers, Gabriele Röger, Martin Wehrle and Michael Katz<br>
Structural Symmetries of the Lifted Representation of Classical Planning Tasks
<a href="proceedings/sievers-et-al-icaps2017wshsdip-a.pdf">(PDF)</a><br>
<br>

Silvan Sievers, Martin Wehrle and Michael Katz<br>
Strengthening Canonical Pattern Databases with Structural Symmetries
<a href="proceedings/sievers-et-al-icaps2017wshsdip-b.pdf">(PDF)</a><br>
<br>
Álvaro Torralba. <br>
From Qualitative to Quantitative Dominance Pruning for Optimal Planning
<a href="proceedings/torralba-icaps2017wshsdip.pdf">(PDF)</a><br>
<br>
Gerald Paul, Gabriele Röger, Thomas Keller and Malte Helmert<br>
Optimal Solutions to Large Logistics Planning Domain Problems
<a href="proceedings/paul-et-al-icaps2017wshsdip.pdf">(PDF)</a><br>

<br>
   </section>
  </div>
</div>
